# Keil MDK 编译产物（别人拿到源码自己编译）
**/Objects/
**/Listings/
**/DebugConfig/
*.uvguix.*
*.dep
# 日志与临时文件
*.log
*.bak
Thumbs.db
Desktop.ini
# Keil 编译产物（各工程输出目录/中间文件）
*.o
*.crf
*.d
*.axf
*.htm
*.lnp
*.build_log.htm
